html,
body {
    margin: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    vertical-align: top;
    -webkit-tap-highlight-color: transparent;
}

img {
    display: inline-block;
    max-width: 100%;
    user-select: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.responsive-video {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.responsive-video iframe,
.responsive-video embed,
.responsive-video object,
.responsive-video video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.responsive-video_16x9 {
    padding-bottom: 56.25%;
}

.responsive-video_4x3 {
    padding-bottom: 75%;
}

.responsive-table-wrapper {
    overflow-x: scroll;
}

.button {
    padding: 0;
    display: inline-block;
    box-shadow: none;
    border: none;
    background: none;
    font-size: inherit;
    cursor: pointer;
    user-select: none;
    background-color: #ccc;
    text-decoration: none;
}

.field {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    background: none;
    border: none;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    background-color: #eee;
}

.field::-webkit-input-placeholder {
    opacity: 0.5;
    color: inherit;
}

.field::-moz-placeholder {
    opacity: 0.5;
    color: inherit;
}

.field:-ms-input-placeholder {
    opacity: 0.5;
    color: inherit;
}

textarea.field {
    resize: vertical;
}

input[type="file"].field {
    cursor: pointer;
}

select.field {
    cursor: pointer;
}
